html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #ebebeb;
}
button {
    margin-bottom: 0;
    letter-spacing: 2px;
}
button:hover {
    opacity: 0.8;
}

.hidden {
    display: none;
}

header {
    height: 60px;
    margin-bottom: 150px;
    background-color: white;
}

header .title {
    font-size: 4rem;
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 10px 0 10px 30px;
}

.container {
    display: flex;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
}

.form-box {
    height: 500px;
    width: 43%;
    margin-right: 7%;
}

.remember-label {
    display: inline-block;
}

#remember {
    margin: 0 0 0 5px;
    vertical-align: middle;
}

#sign-up,
#login {
    margin-left: 10px;
}

.image-box {
    width: 50%;
}
